.footer {
  color: #d3d3d3;
  text-align: center;
  p {
    padding: 20px;
  }
  hr {
    border-color: rgba($color: #d3d3d3, $alpha: 0.4);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    p {
      font-size: 14px;
    }
  }
}
